[Unit]
Description=Light sensor REST API service
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/opt/light/app
ExecStart=/opt/light/venv/bin/gunicorn --workers 1 main:app
Environment=HOST=0.0.0.0
Environment=PORT=8000
Environment=PATH=/opt/light/venv/bin
Restart=on-failure

[Install]
WantedBy=multi-user.target

