[Unit]
Description=Light sensor API container
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/tmp/podman-run-1000/containers

[Service]
User=pica
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/usr/local/bin/podman stop --ignore light
ExecStartPre=/usr/local/bin/podman rm --ignore light
ExecStart=/usr/local/bin/podman run --detach --publish 8000:8000 --device /dev/spidev0.0:/dev/spidev0.0 --gr>
ExecStop=/usr/local/bin/podman stop -t 10 light
ExecStopPost=/usr/local/bin/podman stop --ignore -t 10 light
ExecStopPost=/usr/local/bin/podman rm --ignore light
Type=forking

[Install]
WantedBy=default.target